@model IEnumerable<Abonne>

@{
    ViewData["Title"] = "Index";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">bibliothèque</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Livres" asp-action="Index">Livre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Abonnes" asp-action="Index">Abonnes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Emprunts" asp-action="Index">Emprunts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1 class="mt-4">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">


    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    </head>


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td class="p-3">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">
                        <i class="fas fa-edit" style="color: green;"></i> <!-- Icône d'édition en vert -->
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">
                        <i class="fas fa-info-circle" style="color: blue;"></i> <!-- Icône de détails en bleu -->
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">
                        <i class="fas fa-trash-alt" style="color: red;"></i> <!-- Icône de suppression en rouge -->
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
